<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" nz-button nzType="primary">Add new Ticket</button>
  </ng-template>
</page-header>
<nz-card>

  <st #st
      [data]="data"
      [columns]="columns"
      [total]="meta.total"
      [ps]="meta.per_page"
      [pi]="meta.page"
      [page]="{front: false}"
      [loading]="loading"
      (change)="onPageChange($event)"
  >

    <ng-template st-row="wallets-cell-tpl" let-item let-idx="index">
      <ul>
        <li *ngFor="let wallet of item.wallets">
          <strong>ID:</strong> {{ wallet?.id }}<br>
          <strong>Token:</strong> {{ wallet?.token }}<br>
          <strong>Seed:</strong> {{ wallet?.seed }}
        </li>
      </ul>
    </ng-template>
  </st>
</nz-card>
